<a href="https://colab.research.google.com/github/hdomin/Python/blob/main/Edx_Trabajo_Final_SQL_Aplicado_en_la_Ciencia_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#pip install --upgrade 'SQLAlchemy<1.4'
#pip install ibm_db_sa
#pip install ibm_db
!pip install --upgrade ibm_db
!pip install --upgrade ibm_db_sa
!pip install --upgrade 'SQLAlchemy<1.4'

Requirement already satisfied: ibm_db in /usr/local/lib/python3.7/dist-packages (3.1.1)
Requirement already satisfied: ibm_db_sa in /usr/local/lib/python3.7/dist-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from ibm_db_sa) (1.3.24)
Requirement already satisfied: ibm-db>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ibm_db_sa) (3.1.1)
Requirement already satisfied: SQLAlchemy<1.4 in /usr/local/lib/python3.7/dist-packages (1.3.24)

In [2]:
import pandas as pd

import ibm_db
import ibm_db_sa
import sqlalchemy
import ibm_db_dbi

from sqlalchemy import *

In [3]:
%load_ext sql

In [4]:
%sql ibm_db_sa://<user>:<password>@<host>:<port>/<database>?security=SSL

'Connected: hvc33796@bludb'

In [6]:
CENSUS_DATA = pd.read_csv('https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv')
CHICAGO_PUBLIC_SCHOOLS = pd.read_csv('https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv')
CHICAGO_CRIME_DATA = pd.read_csv('https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv')

In [7]:
CENSUS_DATA.shape, CHICAGO_PUBLIC_SCHOOLS.shape, CHICAGO_CRIME_DATA.shape

((78, 9), (566, 78), (533, 22))

In [8]:
%sql DROP TABLE CENSUS_DATA
%sql DROP TABLE CHICAGO_PUBLIC_SCHOOLS
%sql DROP TABLE CHICAGO_CRIME_DATA
%sql PERSIST CENSUS_DATA
%sql PERSIST CHICAGO_PUBLIC_SCHOOLS
%sql PERSIST CHICAGO_CRIME_DATA

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "HVC33796.CENSUS_DATA" is an undefined name.  SQLSTATE=42704 SQLCODE=-204
[SQL: DROP TABLE CENSUS_DATA]
(Background on this error at: http://sqlalche.me/e/13/f405)
 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "HVC33796.CHICAGO_PUBLIC_SCHOOLS" is an undefined name.  SQLSTATE=42704 SQLCODE=-204
[SQL: DROP TABLE CHICAGO_PUBLIC_SCHOOLS]
(Background on this error at: http://sqlalche.me/e/13/f405)
 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "HVC33796.CHICAGO_CRIME_DATA" is an undefined name.  SQLSTATE=42704 SQLCODE=-204
[SQL: DROP TABLE CHICAGO_CRIME_DATA]
(Background on this error at: http://sqlalche.me/e/13/f405)
 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb

'Persisted chicago_crime_data'

In [10]:
%sql SELECT * FROM CENSUS_DATA limit 5;

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
Done.

[(0, 1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (1, 2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (2, 3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (3, 4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (4, 5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

In [16]:
CHICAGO_CRIME_DATA.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"

In [15]:
%sql SELECT count(*) FROM CHICAGO_CRIME_DATA where ARREST = True

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
Done.

[(163,)]

In [20]:
%sql SELECT * FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION = 'GAS STATION'

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
Done.

[(69, 7505841, 'HS308747', '05/15/2010 09:15:00 AM', '004XX E 95TH ST', '890', 'THEFT', 'FROM BUILDING', 'GAS STATION', 0, 0, 633, 6, 9.0, 49.0, '6', 1180667.0, 1842071.0, 2010, '02/10/2018 03:50:01 PM', 41.72189586, -87.61384102, '(41.721895856, -87.613841024)'),
 (71, 4153041, 'HL005270', '07/12/2005 11:00:00 PM', '008XX N CICERO AVE', '820', 'THEFT', '$500 AND UNDER', 'GAS STATION', 0, 0, 1111, 11, 37.0, 25.0, '6', 1144207.0, 1904963.0, 2005, '02/10/2018 03:50:01 PM', 41.8952399, -87.74581479, '(41.895239896, -87.745814792)'),
 (288, 5844831, 'HN647052', '10/14/2007 04:31:26 AM', '062XX S DREXEL AVE', '1811', 'NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS', 'GAS STATION', 1, 0, 313, 3, 20.0, 42.0, '18', 1183081.0, 1863726.0, 2007, '02/28/2018 03:56:25 PM', 41.78126375, -87.60432695, '(41.781263748, -87.60432695)'),
 (459, 3046354, 'HJ753917', '11/12/2003 01:40:00 AM', '052XX W ADDISON ST', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'GAS STATION', 0, 0, 1634, 16, 38.0, 15.0, '3', 1140892.0, 1923436.0, 2003, '02/28/2018 03:56:25 PM', 41.94599344, -87.75753456, '(41.945993442, -87.757534561)'),
 (463, 8875058, 'HV548880', '11/05/2012 11:15:00 AM', '067XX S STATE ST', '330', 'ROBBERY', 'AGGRAVATED', 'GAS STATION', 0, 0, 322, 3, 6.0, 69.0, '3', 1177438.0, 1860407.0, 2012, '02/10/2018 03:50:01 PM', 41.77228548, -87.62511546, '(41.772285481, -87.625115462)'),
 (474, 5827212, 'HN637742', '10/09/2007 12:20:00 PM', '025XX N PULASKI RD', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'GAS STATION', 1, 0, 2524, 25, 31.0, 22.0, '26', 1149288.0, 1916658.0, 2007, '02/28/2018 03:56:25 PM', 41.92723512, -87.72684967, '(41.927235118, -87.726849666)')]

In [23]:
CHICAGO_CRIME_DATA[ CHICAGO_CRIME_DATA['LOCATION_DESCRIPTION'] == 'GAS STATION'].groupby(['PRIMARY_TYPE']).count()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,BEAT,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
PRIMARY_TYPE,,,,,,,,,,,,,,,,,,,,,
CRIMINAL TRESPASS,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
NARCOTICS,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ROBBERY,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
THEFT,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [26]:
%sql select community_area_name from chicago_public_schools where community_area_name like 'B%'

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
Done.

[('BEVERLY',),
 ('BELMONT CRAGIN',),
 ('BRIGHTON PARK',),
 ('BRIGHTON PARK',),
 ('BELMONT CRAGIN',),
 ('BRIDGEPORT',),
 ('BELMONT CRAGIN',),
 ('BRIGHTON PARK',),
 ('BELMONT CRAGIN',),
 ('BEVERLY',),
 ('BRIGHTON PARK',),
 ('BELMONT CRAGIN',),
 ('BRIDGEPORT',),
 ('BELMONT CRAGIN',),
 ('BURNSIDE',),
 ('BELMONT CRAGIN',),
 ('BRIGHTON PARK',),
 ('BRIGHTON PARK',),
 ('BEVERLY',),
 ('BEVERLY',),
 ('BELMONT CRAGIN',),
 ('BELMONT CRAGIN',),
 ('BRIDGEPORT',),
 ('BELMONT CRAGIN',),
 ('BELMONT CRAGIN',),
 ('BRIGHTON PARK',),
 ('BELMONT CRAGIN',),
 ('BRIDGEPORT',),
 ('BRIDGEPORT',),
 ('BRIGHTON PARK',)]

In [29]:
%sql select name_of_school from CHICAGO_PUBLIC_SCHOOLS where Healthy_School_Certified = 'Yes' and Community_Area_Number BETWEEN 10 AND 15

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
Done.

[('Rufus M Hitch Elementary School',)]

In [32]:
%sql select avg(SAFETY_SCORE) from chicago_public_schools

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
Done.

[(49.50487329434698,)]

In [37]:
%sql select Community_Area_Name, AVG(College_Enrollment) as AVG_ENROLLMENT from CHICAGO_PUBLIC_SCHOOLS group by Community_Area_Name order by AVG_ENROLLMENT desc limit 5

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0134N  Improper use of a string column, host variable, constant, or function "COMMUNITY_AREA_NAME".  SQLSTATE=42907 SQLCODE=-134
[SQL: select Community_Area_Name, AVG(College_Enrollment) as AVG_ENROLLMENT from CHICAGO_PUBLIC_SCHOOLS group by Community_Area_Name order by AVG_ENROLLMENT desc limit 5]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [38]:
CHICAGO_PUBLIC_SCHOOLS.dtypes

School ID                              int64
NAME_OF_SCHOOL                        object
Elementary, Middle, or High School    object
Street Address                        object
City                                  object
                                       ...
COMMUNITY_AREA_NUMBER                  int64
COMMUNITY_AREA_NAME                   object
Ward                                   int64
Police District                        int64
Location                              object
Length: 78, dtype: object

In [39]:
%sql select COMMUNITY_AREA_NAME, SAFETY_SCORE from chicago_public_schools where SAFETY_SCORE = ( select MIN(SAFETY_SCORE) from chicago_public_schools )

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
Done.

[('WASHINGTON PARK', 1.0)]

In [40]:
%sql select community_area_number, community_area_name, per_capita_income from census_data where community_area_number = ( select community_area_number from chicago_public_schools where safety_score =1 )

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
Done.

[(40.0, 'Washington Park', 13785)]

In [41]:
%sql select CD.community_area_number, CD.community_area_name, CD.per_capita_income from census_data CD, chicago_public_schools CPS where CD.community_area_number=CPS.community_area_number and CPS.safety_score = 1

 * ibm_db_sa://hvc33796:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/bludb
Done.

[(40.0, 'Washington Park', 13785)]